.modal-dialog{ role: 'document' }
  .modal-content
    .modal-header
      %button.close{ aria: { label: 'Close' },
                     data: { dismiss: 'modal' },
                     type: 'button' }
        %span{ 'aria-hidden' => 'true' } ×
      %h4.modal-title#IssueModalLabel
        = action_name.capitalize
        Issue
    = bootstrap_form_for [@project, @issue], remote: true do |f|
      .modal-body
        .field
          = f.text_field :name
        .field
          = f.text_area :body
        .field
          = f.select :status, Issue::STATUS
        .field
          = f.select :priority, Issue::PRIORITY
        .field
          - if @issue.image.file?
            .form-group
              %label.control-label
                Current Image -
                = link_to 'Change',
                          '.js-image-input',
                          id: 'change_image',
                          class: 'btn btn-xs btn-primary',
                          remote: true,
                          data: { toggle: 'collapse',
                                  target: '.js-image-input' }
              = image_tag @issue.image.url(:thumb), style: 'display: block;'
          = f.file_field :image, label: 'New Image',
            wrapper_class: 'js-image-input collapse' + (@issue.image.file? ? '' : ' in')
      .modal-footer
        %button.btn.btn-default{ data: { dismiss: 'modal' },
                                 type: 'button' } Close
        = f.primary
