.row{ id: 'issues' }
  %h1
    = 'Listing issues'
    = link_to 'New Issue', new_issue_path, type: 'button',
    class: 'btn btn-xs btn-default'
  - @issues.each do |issue|
    .media.col-12{ id: 'issue_#{issue.id }' }
      .media-left
        = link_to image_tag('64x64.png',
          class: 'media-obiect', alt: `...`), issue
      .media-body
        %h4.media-heading
          = issue.name
          = label_status(issue.status)
          = label_priority(issue.priority)
        = issue.body
        = link_to 'Edit', edit_issue_path(issue), type: 'button',
          class: 'btn btn-xs btn-default'
        = link_to 'Destroy', issue, method: :delete,
          data: { confirm: 'Are you sure?' },
          type: 'button', class: 'btn btn-xs btn-default'
