%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{ 'aria-expanded' => 'false',
          'data-target' => '#navbar-collapse-1',
          'data-toggle' => 'collapse', type: 'button' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: '#' }
        = image_tag('/assets/logo.png',
                    height: '100%',
                    style: 'display:inline;')
        IssueReport
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse#navbar-collapse-1
      %ul.nav.navbar-nav
        %li.active
          %a{ href: projects_path }
            Projects
            %span.sr-only (current)
        %li.active
          %a{ href: issues_path }
            Issues
            %span.sr-only (current)
      = bootstrap_form_tag(url: issues_path,
                           layout: :inline,
                           html: { role: 'search',
                                   class: 'navbar-form navbar-left',
                                   method: :get }) do |f|
        .field
          = f.text_field :search, hide_label: true, placeholder: 'Search'
          = f.button 'Search', class: 'btn btn-default'
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{ 'aria-expanded' => 'false',
              'aria-haspopup' => 'true',
              'data-toggle' => 'dropdown',
              href: '#',
              role: 'button' }
            = current_user.email
            %span.caret
          %ul.dropdown-menu
            %li
              %a{ href: sign_out_path } Sign out
    / /.navbar-collapse
  / /.container-fluid



