<!DOCTYPE html>
<html>
  <head>
    <title>IssueReport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>
  </head>

  <body role="document">
    <% if current_user %>
      <%= render 'layouts/header' %>
    <% end %>
    <div class='flash'><%= render 'flash' %></div>
    <div class='container'>
      <%= render 'modal' %>
      <%= yield %>
    </div>

  </body>
</html>
